In [1]:
import pymysql
import pandas as pd

In [2]:
conn=pymysql.connect(host='54.255.64.49',port=int(3306),user='dm_team2',passwd='DM!$Team&27@9!20!',db='project_sales')
sales_data=pd.read_sql_query("SELECT * FROM data ",conn)
print(sales_data)

               Created Product_ID            Source      Mobile  \
0     14-11-2018 10:05                      Website  984XXXXXXX
1     14-11-2018 09:22                      Website     XXXXXXX
2     14-11-2018 09:21                      Website     XXXXXXX
3     14-11-2018 08:46                      Website     XXXXXXX
4     14-11-2018 07:34                      Website     XXXXXXX
...                ...        ...               ...         ...
7417  28-04-2018 09:45          9              Call
7418  28-04-2018 09:43         15              Call
7419  28-04-2018 09:20          5  Live Chat-Direct
7420  28-04-2018 08:04         21          CRM form
7421  28-04-2018 07:54         25           Website

                   EMAIL     Sales_Agent         Location Delivery_Mode  \
0     aXXXXXXX@gmail.com  Sales-Agent-11                         Mode-5
1                #VALUE!  Sales-Agent-10                         Mode-5
2     dXXXXXXX@yahoo.com  Sales-Agent-10                         Mode-5
3     wXXXXXXX@gmail.com  Sales-Agent-10                         Mode-5
4     cXXXXXXX@gmail.com  Sales-Agent-10                         Mode-5
...                  ...             ...              ...           ...
7417  aXXXXXXX@gmail.com   Sales-Agent-6           Mumbai        Mode-4
7418             #VALUE!  Sales-Agent-12  Other Locations        Mode-5
7419  sXXXXXXX@gmail.com  Sales-Agent-11        Bangalore        Mode-1
7420  YXXXXXXX@gmail.com   Sales-Agent-4  Other Locations        Mode-1
7421  cXXXXXXX@gmail.com   Sales-Agent-3          Chennai        Mode-1

              Status
0               Open
1               Open
2               Open
3               Open
4               Open
...              ...
7417            LOST
7418            LOST
7419  Not Responding
7420    Just Enquiry
7421       CONVERTED

[7422 rows x 9 columns]

In [3]:
sales_data.columns

Index(['Created', 'Product_ID', 'Source', 'Mobile', 'EMAIL', 'Sales_Agent',
       'Location', 'Delivery_Mode', 'Status'],
      dtype='object')